@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AvenirNext';
  src: url('/assets/fonts/AvenirNext/AvenirNext-Regular.ttf') format('truetype');
}

.zoomOut {
  zoom: 80%;
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.body {
  font-family: 'AvenirNext';
}

.blue_bg {
  background: #f0f6ff;
}

.bg_cloud {
  background-image: url('/assets/images/cloud.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: -25px;
}

@media (min-width: 600px) {
  .bg_cloud {
    background-position-y: -192px;
  }
}

.d_18 {
  width: 18px;
  height: 18px;
}

.text_15 {
  font-size: 15px;
}

.text_17 {
  font-size: 17px;
}
